  @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

  :root {
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
    --star-circle: hsl(213deg, 20%, 22%);
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Overpass", sans-serif;
    font-size: 0.938rem;
  }

  main {
    width: 25rem;
    background-color: var(--dark-blue);
    border-radius: 1.5rem;
    padding: 2rem;
  }

  .star {
    background-color: var(--star-circle);
    padding: 0.9rem;
    border-radius: 50%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .text-area > h2 {
    margin: 1rem 0;
  }

  .text-area > p {
    font-size: 14px;
    color: var(--light-grey);
  }
  